@using Entities.ViewModels.UserController
@model EditUserViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Edit User - @Model.EditUserDto.Username
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <form asp-route="Edit" method="post">
                        <input type="hidden" asp-for="EditUserDto.Id" />
                        <div class="kt-section__body">
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Name</label>
                                <div class="col-lg-9 col-xl-9">
                                    <input class="form-control" asp-for="EditUserDto.Name" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Surname</label>
                                <div class="col-lg-9 col-xl-9">
                                    <input class="form-control" asp-for="EditUserDto.Surname" type="text" aria-invalid="false">
                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet__foot kt-portlet__foot--fit py-2">
                            <div class="kt-form__actions py-2">
                                <button id="btnSubmit" type="submit" class="btn btn-success">Edit User</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>