@using Entities.ViewModels.CategoryController
@model AddCategoryViewModel
@{
    ViewData["Title"] = "Add Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Add Category
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <form asp-route="AddCategory" method="post">

                        <div class="form-group m-form__group">
                            <label>Category Name</label>
                            <input type="text" asp-for="AddCategoryDto.Name" class="form-control m-input categoryName">
                            <span asp-validation-for="AddCategoryDto.Name" class="form-control-feedback text-danger"></span>

                        </div> <div class="form-group m-form__group">
                            <label>Parent Category</label>
                            <select class="form-control" asp-for="AddCategoryDto.ParentCategoryId" asp-items="@(new SelectList(Model.Categories,"Id","Name"))">
                                <option value="">Select a parent category....</option>
                            </select>
                        </div>
                        <div class="kt-portlet__foot kt-portlet__foot--fit py-2">
                            <div class="kt-form__actions py-2">
                                <button id="btnSubmit" type="submit" class="btn btn-success">Add New Category</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>